#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    ProgressionSystem.LoadScripts
#        Description: 启用从bracket模块加载脚本
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadScripts = 1

#
#    ProgressionSystem.LoadDatabase
#        Description: 启用从bracket模块加载 SQL 文件
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadDatabase = 1

#
#    ProgressionSystem.ReapplyUpdates
#        Description: 始终在启动时重新应用每个 SQL 文件。 警告：影响启动时间。
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.ReapplyUpdates = 0

#
#    ProgressionSystem.Bracket_X
#        Description: 定义bracket模块是否应加载，0 不加载，1 加载。
#        Default:     0 - 未加载。
#

ProgressionSystem.Bracket_0       = 0
ProgressionSystem.Bracket_1_19    = 0 # 影牙要塞、死亡矿井、哀嚎洞穴、黑暗深渊、怒焰裂谷
ProgressionSystem.Bracket_20_29   = 0 # 暴风城栅栏、剃刀高地、诺莫瑞根
ProgressionSystem.Bracket_30_39   = 0 # 奥达曼、剃刀高地、血色修道院
ProgressionSystem.Bracket_40_49   = 0 # 沉没的神殿、祖尔法拉克、玛拉顿
ProgressionSystem.Bracket_50_59_1 = 0 # 黑石深渊、厄运之槌、通灵学院、斯坦索姆
ProgressionSystem.Bracket_50_59_2 = 0 # Blackrock Spire attunement requirement
ProgressionSystem.Bracket_60_1_1  = 0 # 黑石塔
ProgressionSystem.Bracket_60_1_2  = 0 # 熔火之心
ProgressionSystem.Bracket_60_2_1  = 0 # 奥妮克希亚的巢穴
ProgressionSystem.Bracket_60_2_2  = 0 # 黑翼之巢
ProgressionSystem.Bracket_60_3_1  = 0 # 祖尔格拉布
ProgressionSystem.Bracket_60_3_2  = 0 # 安其拉20
ProgressionSystem.Bracket_60_3_3  = 0 # 安其拉40
ProgressionSystem.Bracket_61_64   = 0 # 61-64 地下城
ProgressionSystem.Bracket_65_69   = 0 # 65-69 地下城
ProgressionSystem.Bracket_70_1_1  = 0 # 70级，飞行，普通地下城
ProgressionSystem.Bracket_70_1_2  = 0 # 70级，英雄地下城
ProgressionSystem.Bracket_70_2_1  = 0 # 格鲁的巢穴，玛瑟里顿的巢穴，竞技场第一季
ProgressionSystem.Bracket_70_2_2  = 0 # 卡拉赞
ProgressionSystem.Bracket_70_3_1  = 0 # 毒蛇神殿, 奥格瑞拉
ProgressionSystem.Bracket_70_3_2  = 0 # 风暴之眼, 沙塔尔天空卫士
ProgressionSystem.Bracket_70_4_1  = 0 # 海加尔山之战, 竞技场第 2 赛季, 灵翼之龙
ProgressionSystem.Bracket_70_4_2  = 0 # 黑暗神殿
ProgressionSystem.Bracket_70_5    = 0 # 祖阿曼, 竞技场第 3 季
ProgressionSystem.Bracket_70_6_1  = 0 # 奎尔丹纳斯岛，魔导师平台
ProgressionSystem.Bracket_70_6_2  = 0 # 太阳之井高地，竞技场第 4 赛季
ProgressionSystem.Bracket_71_74   = 0 # 71-74 地下城
ProgressionSystem.Bracket_75_79   = 0 # 75-79 地下城
ProgressionSystem.Bracket_80_1    = 0 # 英雄地下城, 纳克萨玛斯, 黑曜石圣殿, 永恒之眼, 阿尔卡冯的宝库, 竞技场第 5 季
ProgressionSystem.Bracket_80_2    = 0 # 奥杜尔, 冠军的试炼,竞技场第 6 季
ProgressionSystem.Bracket_80_3    = 0 # 奥妮克希亚的巢穴, 十字军的试, 竞技场第 7 赛季
ProgressionSystem.Bracket_80_4_1  = 0 # 冰冠堡垒, ICC 地下城, 竞技场第 8 赛季
ProgressionSystem.Bracket_80_4_2  = 0 # 红玉圣殿
ProgressionSystem.Bracket_Custom  = 0

#
#
#
#    ProgressionSystem.60.MoltenCore.ManualRuneHandling
#        Description: 定义熔火之心符文是手动处理（通过水之精华浇灌）还是在击败 Boss 时自动处理（WotLK 默认）
#        Default:   1 - Enabled (需要浸泡)
#                   0 - Disabled (自动，当老板被击败时处理)
#
#

ProgressionSystem.60.MoltenCore.ManualRuneHandling = 1

#
#    ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction
#        Description: 将永恒精华的冷却时间减少指定的数量。
#        Default:   0 - Disabled (1 小时冷却时间)
#                   60 - (无冷却时间)
#
#

ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction = 0

#
#    ProgressionSystem.60.WorldBosses.KazzakPhasing
#        Description: 当卡扎克勋爵参与时，可以逐步淘汰玩家和BOSS。
#        Default:   1 - Enabled (玩家和BOSS将分阶段进行)
#                   0 - Disabled
#
#

ProgressionSystem.60.WorldBosses.KazzakPhasing = 1

