#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    ProgressionSystem.LoadScripts
#        Description: Enable loading scripts from bracket modules
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadScripts = 1

#
#    ProgressionSystem.LoadDatabase
#        Description: Enable loading SQL files from bracket modules
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadDatabase = 1

#
#    ProgressionSystem.ReapplyUpdates
#        Description: 始终在启动时重新应用每个 SQL 文件。 警告：影响启动时间。
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.ReapplyUpdates = 0

#
#    ProgressionSystem.Brackets
#        Description: 定义了应该加载的括号。 它是一个位掩码。 ProgressionSystem.h 中存在可用的掩码值
#        Default:     0 - None
#                     > 0 - Specific brackets are loaded
#					 例如 256 是括号 60 - 第 2 层；
#						  14 是：括号 10-19、20-29 和 30-39
#

ProgressionSystem.Brackets = 0

#
#
#
#    ProgressionSystem.60.MoltenCore.ManualRuneHandling
#        Description: 定义熔火之心符文是手动处理（通过水之精华浇灌）还是在击败 Boss 时自动处理（WotLK 默认）
#        Default:   1 - Enabled (需要浸泡)
#                   0 - Disabled (自动，当老板被击败时处理)
#
#

ProgressionSystem.60.MoltenCore.ManualRuneHandling = 1

#
#    ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction
#        Description: 将永恒精华的冷却时间减少指定的数量。
#        Default:   0 - Disabled (1 小时冷却时间)
#                   60 - (无冷却时间)
#
#

ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction = 0

#
#    ProgressionSystem.60.WorldBosses.KazzakPhasing
#        Description: 当卡扎克勋爵参与时，可以逐步淘汰玩家和BOSS。
#        Default:   1 - Enabled (玩家和BOSS将分阶段进行)
#                   0 - Disabled
#
#

ProgressionSystem.60.WorldBosses.KazzakPhasing = 1

